@layout_max: 1260;
@layout_narrow: 800;
@vw_base: @layout_max/100;
@base: 16;

@page1: #C6537D;
@page2: #E37544;
@page3: #5B9A52;
@page4: #2BA292;
@page5: #3A97D6;
@page6: #286B95;
@page7: #556A9F;
@page8: #43537D;
@page9: #5F4F85;
@page10: #7B498E;

@background: @page1;
