@layout_max: 1260;
@layout_narrow: 800;
@vw_base: @layout_max/100;
@base: 16;

@page1: #C6537D;
@page2: #9E3E8E;
@page3: #7B498E;
@page4: #5F4F85;
@page5: #505180;
@page6: #43537D;
@page7: #355F88;
@page8: #286B95;
@page9: #1B7988;
@page10: #13897B;

@background: @page1;
