@import '_settings.less';
@import '_normalise.less';

body,html {
  height: 100%;
  @media print {
    height: auto;
  }
}


body {
  background-color: @background;
  @media all {background-color: white;}
  font-family: Geneva,Tahoma,Verdana,sans-serif;
}

//accessibilty features
a:focus {
  outline: 2px solid black;
}

@import 'base-pages.less';
//@import 'base-toc.less';
