.pg {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //transition: 500ms background;
  overflow: hidden;
  position: relative;

  &_c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 5%;
    margin: 1vh 5vw;
    max-width: unit(@layout_max,px);

    @media screen and (min-width: (unit(@layout_max,px))) {
      margin: 1vh auto;
    }
  }

  &_t {
    @f: 20;
    color: white;
    text-shadow: 0 1px 1px fade(black,20%);
    font-size: unit(@f,px);
    font-size: unit(@f/@base,rem);
    line-height: 1.2;
    @media screen and (min-width: (unit(600/@base,em))) {
      font-size: unit(@f*1.5,px);
      font-size: unit(@f*1.5/@base,rem);
    }
  }

  &_i {
    > svg {
      width: 100%;
      height: 100%;
      //outline: 1px solid blue;
      @media screen and (max-height: 405px) {
        display: none;
      }
    }
  }

  &_t,&_i {
    padding: unit(30,px);
    padding: unit(30/@base,rem);
  }

  &_b {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    >svg  {
      position: absolute;
    }
  }

  &--loaded {

  }
}

//pages
@import 'pages/p1.less';
@import 'pages/p2.less';
@import 'pages/p3.less';
@import 'pages/p4.less';
@import 'pages/p5.less';
@import 'pages/p6.less';


#p-7 {
  background: @page7;
  color: contrast(@page7, darken(@page7,50%),white);
}
#p-8 {
  background: @page8;
  color: contrast(@page8, darken(@page8,50%),white);
}
#p-9 {
  background: @page9;
  color: contrast(@page9, darken(@page9,50%),white);
}
#p-10 {
  background: @page10;
  color: contrast(@page10, darken(@page10,50%),white);
}
