.toc {
  position: fixed;
  top: 0;
  width: 100%;
  background: fade(black,10%);
  margin: 0;
  padding: 10px;
  z-index: 1;

  &_i {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_l {
    @f: 16;
    @m: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: unit(@f,px);font-size: unit(@f/@base,em);
    color: #333;
    width: unit(@f*@m,px); width: unit(@f*@m/@base,em);
    height: unit(@f*@m,px); height: unit(@f*@m/@base,em);
    background-color: fade(white,90%);
    border-radius: 50%;

  }

}
