section {
  width: 100%;
  color: white;
  @media print {
    page-break-inside: avoid;
    //outline: 1px solid black;
    display: inline-block;
    padding: 10mm 0;
  }
  @media screen {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .c {
    @media screen {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    max-width: unit(@layout_max,px);
    padding: 30px 0;
    @media print {
      padding: 0;
    }
    @media screen and (min-width: (unit(@layout_max,px))) {
      margin: 0 auto;
    }
  }

  .t {
    @f: 22;
    text-shadow: 1px 1px 0 fade(black,20%);
    font-size: unit(@f,px);
    font-size: unit(@f/@base,rem);
    line-height: 1.5;
    padding: unit(30,px);
    padding: unit(30/@base,rem);
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      font-size: unit(@f*1.5,px);
      font-size: unit(@f*1.5/@base,rem);
      line-height: 1.3;
      text-shadow: 2px 2px 0 fade(black,20%);
    }
    @media print {
      padding: 0;
      float: left;
      width: 55%;
      page-break-inside: avoid;
    }
  }

  .i {
    > svg {
      width: 100%;
      height: 100%;
      @media print {
        width: 40%;
        float: right;
      }
    }
  }

  .t,.i {
    position: relative;//fix z-index on pages with bg images.
  }

  .b {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    >svg  {
      position: absolute;
    }
    @media print {
      display: none;
    }
  }
}

@keyframes twinkle {
  0% {
    fill: fade(white,20%);
  }
  30% {
    fill: white;
  }
  50% {
    fill: fade(white,20%);
  }
  100% {
    fill: fade(white,20%);
  }
}

@import 'pages/p1.less';
@import 'pages/p2.less';
@import 'pages/p3.less';
@import 'pages/p4.less';
@import 'pages/p5.less';
@import 'pages/p6.less';
@import 'pages/p7.less';
@import 'pages/p8.less';
@import 'pages/p9.less';
@import 'pages/p10.less';

@media print {
  #p-1,#p-2,#p-3,#p-4,#p-5,#p-6,#p-7,#p-8,#p-9,#p-10 {
    background-color: white;
    color: black;
  }
}
