#p-1 {
  @bp: 800px;
  background: @page1;
  .pg_c {
    flex-direction: column;
    @media screen and (min-width: @bp) {
      flex-direction: row;
    }
  }
  .pg_txt, .pg_imgs {
    @media screen and (min-width: @bp) {
      width: 50%;
    }
  }
  .i1 {//circle
    fill: lighten(@page1,15%);
  }
  .i2 {//albie body
    fill: darken(@page1,10%);
  }
  .i3 {//albie head
    fill: lighten(@page1,2%);
    color: darken(@page1,30%);
  }
  .i4 {
    fill: @page1;
  }
}
