#p-10 {
  background: @page10;
  .pg_c {
    flex-direction: column-reverse;
  }
  .i1 {
    fill: darken(@page10,10%);
  }
  .i2 {
    fill: darken(@page10,8%);
  }
  .i3 {
    fill: darken(@page10,3%);
  }
}
