#p-2 {
  background: @page2;

  .c {
    flex-direction: column-reverse;
  }
  .i {
    align-self: flex-end;
    > svg {
      max-width: 300px;
      @media screen {
        width: 50%;
      }
      @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
        width: 100%;
      }
    }
  }
  .i1 {//sun
    fill: lighten(@page2,12%);
    @media print {
      fill: white;
      stroke: black;
      stroke-width: 2;
    }
  }
  .i2, .i3, .i4, .i5,
  .i6, .i7, .i8, .i9 {//rays
    stroke: lighten(@page2,12%);
    stroke-width: 10;
    stroke-dasharray: 30 25;
  }

  .i2,.i4,.i6,.i7 {
    @media screen {
      animation: fw 1s infinite linear;
      animation-fill-mode: forwards;
    }
  }
  .i3,.i5,.i8,.i9 {
    @media screen {
      animation: bk 1s infinite linear;
      animation-fill-mode: forwards;
    }
  }


  @keyframes fw {
    0% {
      stroke-dashoffset: 0;

    }
    100% {
      stroke-dashoffset: 55;
    }
  }

  @keyframes bk {
    0% {
      stroke-dashoffset: 55;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

}
