#p-2 {
  background: @page2;
  .c {
    flex-direction: column-reverse;
  }
  .i {
    align-self: flex-end;
    > svg {
      max-width: 300px;
      width: 50%;
      float: right;
      @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
        width: 100%;
      }
    }
  }
  .i1 {//sun
    fill: darken(@page2,12%);
    fill: fade(white,20%);
  }
  .i2, .i3, .i4, .i5,
  .i6, .i7, .i8, .i9 {//rays
    stroke: darken(@page2,12%);
    stroke: fade(white,20%);
    stroke-width: 10;
  }
}
