#p-4 {
  background: @page4;
  .pg_c {
    flex-direction: column-reverse;
  }
  .pg_i {
    align-self: stretch;
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      width: 100%;
    }
  }
  .i1 {//breeze
    stroke: lighten(@page4,5%);
    stroke: fade(white,10%);
    stroke-width: 5;
    @media screen and (min-width: 800px) {
      stroke-width: 7;
    }

  }
  .i2 {//leaf
    fill: darken(@page4,10%);
    fill: fade(black,10%);
  }
  .i3 {//leaf
    fill: lighten(@page4,5%);
    fill: fade(white,10%);
  }
  .i4 {//leaf
    fill: darken(@page4,6%);
    fill: fade(black,6%);
  }
  .i5 {//leaf
    fill: lighten(@page4,2%);
    fill: fade(white,6%);
  }
}
