#p-4 {
  background: @page4;
  .c {
    flex-direction: column-reverse;
  }
  .i {
    align-self: stretch;
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      width: 100%;
    }
  }
  .i1 {//breeze
    stroke: lighten(@page4,5%);
    stroke-width: 5;
    animation: swoosh 5s infinite linear;
    stroke-dasharray: 1250 120;
    animation-direction: normal;
    @media screen and (min-width: 800px) {
      stroke-width: 7;
    }

  }
  .i2 {//leaf
    fill: darken(@page4,10%);
  }
  .i3 {//leaf
    fill: lighten(@page4,5%);
  }
  .i4 {//leaf
    fill: darken(@page4,6%);
  }
  .i5 {//leaf
    fill: lighten(@page4,2%);
  }

  @keyframes swoosh {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 1310;
    }
  }

}
