#p-6 {
  background: @page6;
  .c {
    flex-direction: column-reverse;
  }
  .i {
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      width: 100%;
    }
  }
  .i>svg {
    float: right;
    max-width: 220px;
  }
  .i1 {
    fill: lighten(@page6,10%);
  }
  .i2 {
    fill: lighten(@page6,20%);
    color: darken(@page6,5%);
  }
  .b1 {
    fill: lighten(@page6,22%);
    top: 50%;
    right: 3%;
    opacity: 0.4;
  }
  .b2 {
    fill: lighten(@page6,18%);
    top: 15%;
    left: 20%;
    opacity: 0.6;
  }
  .b3 {
    fill: lighten(@page6,25%);
    top: 70%;
    left: 50%;
    opacity: 0.4;
  }
}
