#p-7 {
  background: @page7;
  .c {
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      flex-direction: row;
    }
  }

  .t {
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      width: 70%;
    }
  }
  .i {
    @media screen and (min-width: (unit(@layout_narrow/@base,em))) {
      width: 30%;
    }
    align-self: flex-end;
    >svg {
      max-width: 250px;
    }
  }

  .i1 {//house
    fill: darken(@page7,10%);
  }
  .i2 {//window
    fill: lighten(@page7,5%);
  }
  .b1 {
    fill: lighten(@page7,10%);
    top: 20%;
    right: 15%;
    @media screen {
      animation: twinkle 6s infinite linear;
    }
  }
  .b2 {
    fill: lighten(@page7,15%);
    top: 10%;
    left: 5%;
    @media screen {
      animation: twinkle 6s infinite linear 2s;
    }
  }
  .b3 {
    fill: lighten(@page7,20%);
    top: 27%;
    left: 50%;
    @media screen {
      animation: twinkle 6s infinite linear 4s;
    }
  }

}
