<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Albie and Ember, a children's story</title>
        <meta name="description" content="A children's story about a little girl and her favorite teddy">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/base.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

      <ol role="navigation" aria-label="Table of contents" class="toc">
        {% for page in pages %}
          <li class="toc_i"><a href="#p-{{loop.index}}" aria-label="Jump to page {{loop.index}} of {{loop.length}} of this story" class="toc_l">Page {{loop.index}}</li>
        {% endfor %}
      </ol>

      {% for page in pages %}
        <article class="pg pg--{{loop.index}}" data-page-id="{{loop.index}}" id="p-{{loop.index}}" aria-label="Page {{loop.index}} of {{loop.length}}">
          <div class="pg_txt">
            {{page.content|safe}}
          </div>

        </article>
      {% endfor %}

      <script src="/i.js"></script>
    </body>
</html>
